@font-face {
  font-family: 'Calibre-Regular';
  src: url('./fonts/Calibre-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Calibre-Medium';
  src: url('./fonts/CalibreWeb-Medium.woff') format('woff');
}

body {
  min-height: 100%;
  margin: 0;
  background-color: #f1f1f2;
}

@media (min-width: 960px) {
  .wholeApp {
    padding-top: 72px;
    height: 384px;
  }
}

@media (max-width: 959px) and (min-width: 600px) {
  .wholeApp {
    height: 304px;
    padding-top: 72px;
  }
}

@media (min-width: 960px) {
  .container {
    height: 384px;
  }
}

@media (max-width: 959px) and (min-width: 600px) {
  .container {
    height: 304px;
  }
}

.container {
  background-color: white;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  width: 100%;
  margin-left: 0;
}

.inner {
  display: inline-block;
  position: relative;
  height: 100%;
}

.picDiv {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: 100%;
}

.picDiv:not(:first-child) {
  margin-left: 4px;
}

.picDiv:nth-child(odd) {
  width: 384px;
}

@media (max-width: 959px) and (min-width: 600px) {
  .picDiv:nth-child(odd) {
    width: 304px;
  }
}

.picDiv:nth-child(even) {
  width: 190px;
}

@media (max-width: 959px) and (min-width: 600px) {
  .picDiv:nth-child(even) {
    width: 150px;
  }
}

.onePicCol {
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.onePicWrapper {
  flex: 1;
}

@media (min-width: 960px) {
  .onePicWrapper {
    backface-visibility: hidden;
    overflow: hidden;
    position: relative;
    transform: translateZ(0);
    background-size: cover;
  }
}

.onePicZoom {
  height: 100%;
  transition: transform 0.2s;
}

@media (min-width: 960px) {
  .onePicZoom:hover {
    transform: scale(1.02);
    -webkit-filter: brightness(90%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
}

.onePicCol .onePicWrapper:not(:first-child) {
  margin-top: 4px;
}

.onePicCol img {
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
}

/* button */

.button {
  color: #101820;
  font: 15px/20px 'Calibre-Regular';
  letter-spacing: 0.013em;
  cursor: pointer;
  position: absolute;
  z-index: 2;
  border: 0;
}

@media (min-width: 600px) {
  .button {
    background-color: rgba(16, 24, 32, 0.75);
    position: absolute;
    height: 40px;
    padding-right: 10px;
    padding-left: 16px;
    right: 40px;
    top: 240px;
  }

  .button:hover {
    background-color: rgba(16, 24, 32);
  }
}

.buttonName {
  color: white;
  font: 12px/40px 'Calibre-Regular';
  letter-spacing: 0.125em;
  text-transform: uppercase;
}

svg {
  vertical-align: middle;
  position: relative;
  bottom: 1px;
  stroke-width: 1.5px;
}

/* Plus Modal */
.modalContent {
  background-color: rgba(16, 24, 32, 0.95);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 800;
}

.plusContainer {
  margin-top: 76px;
  max-width: 90%;
  max-height: 100%;
  object-fit: contain;
  text-align: center;
  overflow-y: auto;
}

.popupImg:hover {
  transform: scale(1.02);
  -webkit-filter: brightness(90%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.popupImg {
  display: inline-block;
  transition: transform 0.2s;
  cursor: pointer;
}

.popupImg img {
  height: 400px;
  width: 400px;
  margin: 4px;
  box-sizing: border-box;
}

.plusTitle {
  display: inline-block;
  color: white;
  font: 18px/20px 'Calibre-Medium';
  letter-spacing: 0.086em;
  text-transform: uppercase;
}

.plus {
  position: absolute;
  right: 10px;
}

.modalHeader {
  background-color: rgba(16, 24, 32, 0.95);
  padding: 28px 0;
  text-align: center;
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

/* One pic Modal */
.onePicHeader {
  background-color: rgba(16, 24, 32, 0.95);
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 800;
}

.onePicHeader span {
  display: inline-block;
  color: white;
  padding: 28px 0;
  text-align: center;
  font: 18px/20px 'Calibre-Medium';
  letter-spacing: 0.086em;
  text-transform: uppercase;
  justify-content: center;
}

.onePicImg {
  background-color: rgba(16, 24, 32, 0.95);
  max-height: calc(100% - 52px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 72px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 500;
  overflow: auto;
  text-align: center;
}

.onePicContainer {
  display: flex;
  position: relative;
  padding: 0 20px 20px 40px;
  max-height: 50%;
  object-fit: contain;
  margin-top: 76px;
  z-index: 1;
}

.onePicImg img {
  max-height: 100%;
  max-width: 100%;
  min-height: 1px;
  min-width: 1px;
}

.showAll {
  border-right: 1px solid #656666;
  cursor: pointer;
  margin: 4px 11px 4px 0;
  padding-right: 16px;
}

.showAllWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  right: 10px;
  top: 23px;
}

.close {
  display: inline-block;
  margin-right: 30px;
  cursor: pointer;
}

.pictureNum {
  font: 15px/20px 'Calibre-Regular';
  letter-spacing: 0.013em;
  color: white;
  margin-right: 20px;
  display: inline-block;
}

.onePicButton {
  display: inline-block;
  height: 40px;
  align-self: center;
  margin: 40px;
  width: 40px;
}

.onePicButton:hover {
  fill: black;
  cursor: pointer;
}
